.reservation-bar-global-section {
  width: 100%;
}

.reservation-bar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-bg-hero);
  border: 1px solid var(--color-bg-1);
  padding: 0.6rem;
}

.reservation-bar-input-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #5c0a17;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}

.reservation-bar-label {
  color: white;
  font-size: 0.8rem;
  white-space: nowrap;
}

.reservation-bar-input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 0.9rem;
}

.reservation-bar-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.reservation-bar-select {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.reservation-bar-button {
  background-color: #7d001b;
  color: white;
  border: none;
  padding: 0.9rem 1.4rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.reservation-bar-button:hover {
  background-color: #990020;
}
