.sectionSpace {
  padding: 80px;
  background-color: var(--color-bg-1);

  h5 {
    color: var(--color-forest);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    h2 {
      font-size: 52px;
      color: var(--color-bg-white);
      width: 500px;
      line-height: 60px;
    }

    p {
      color: var(--color-forest);
      font-size: 16px;
      cursor: pointer;
    }
  }
  .section-cardspace {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
