/* =============== AGENDA ====================*/

.react-calendar {
  background: var(--color-bg-card);
  border: none;
}
.react-calendar__navigation {
  background: var(--color-primary);
  color: var(--color-tag-text);
}
.react-calendar__navigation__arrow {
  color: var(--color-tag-text);
}
.react-calendar__navigation__label__labelText {
  font-family: var(--font-body);
  color: var(--color-tag-text);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-family: var(--font-body);
}
.react-calendar__tile.has-event {
  background: rgba(220, 255, 220, 0.8);
  border-radius: var(--radius-md);
  font-family: var(--font-body);
  font-weight: var(--font-semibold);
}
.react-calendar__tile.no-event {
  font-family: var(--font-body);
}
.events-btn-see-all {
  font-family: var(--font-body);
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

/* ================== SECTIONS ======================*/

.events-section-hero {
  background: var(--color-bg-hero);
}
.events-big-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-4);
  h1 {
    color: var(--color-text-secondary);
    font-family: var(--font-heading);
  }
  .events-page-hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: var(--color-text-secondary);
  }
}
.events-section-AGENDA {
  padding: var(--space-5) var(--space-20);
  background: var(--color-bg-2);
}
.events-section-ALAUNE,
.events-section-NEXT {
  padding: var(--space-5) var(--space-20);
  background-color: var(--color-bg-1);
}
.events-div-next-events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.events-title {
  text-transform: uppercase;
  font-family: var(--font-heading);
  color: var(--color-text-secondary);
  padding: var(--space-4);
}

/* =================== CARDS EVENTS ===================== */
.home-events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  /*   font-family: var(--font-body); */
}
