.home-section-events {
  padding: 80px;

  h5 {
    color: #315233;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
  }

  .Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    h2 {
      font-size: 52px;
      color: #111;
      width: 500px;
      line-height: 60px;
      font-family: var(--Primary-font);
    }

    p {
      color: #666;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .home-events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    font-family: var(--secondary-font);
  }
}
