.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(4px);
  z-index: var(--z-modal);

  .modal-content {
    width: clamp(600px, 70vw, 1100px);
    height: clamp(500px, 80vh, 800px);
    background: var(--color-bg-white);
    border-radius: var(--radius-xl);
    overflow: hidden;
    box-shadow: var(--shadow-xl);
    position: relative;
  }

  .modal-overlay-btn {
    position: absolute;
    inset: 0;
    border: none;
    background: transparent;
    cursor: default;
  }
}
@media (max-width: 1280px) {
  .modal-overlay {
    .modal-content {
      width: 100vw;
      height: 100vh;
      max-height: 100dvh;
      border-radius: 0;
    }
  }
}
