.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(4px);
  z-index: var(--z-modal);

  .modal-content {
    width: min(900px, 92vw);
    height: min(750px, 90vh);

    background: var(--color-bg-white);
    border-radius: var(--radius-xl);

    overflow: hidden;
    box-shadow: var(--shadow-xl);

    position: relative;
  }

  .modal-overlay-btn {
    position: absolute;
    inset: 0;
    border: none;
    background: transparent;
    cursor: default;
  }
}
