.header-spaces-page-global-section {
  .header-spaces-page-container-articles {
    display: flex;
    width: 100%;
    min-height: 35vh;
  }
}

@media (max-width: 900px) {
  .header-spaces-page-global-section {
    .header-spaces-page-container-articles {
      flex-direction: column;
      min-height: auto;
    }
  }
}
